#header
  %h1 Animal Mash
  %h2{:id => "msg"} Click on the Picture you like more!!
#app

#credits
  <br/>
  %a{:href => '#', :id => 'change'} See Pseudo Ranks
  <br/><br/>
  %b Credits:
  %a{:href => 'https://github.com/msumit', :target => '_blank'} Sumit Maheshwari